﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChallengeNaStaz</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <!--<environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>-->
</head>
@using ChallengeNaStaz.Extensions;
<body>
    <environment include="Development">
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)

    <div class="container">
        @await Html.PartialAsync("_LoginPartial")

        <!--nav-->
        <div class="row">
            <div class="col col-12">
                <nav>
                    <ul>
                        <li>
                            <div>
                                <img src="~/images/icons/nav/diet_128x128.png" />
                                <br />
                                <a asp-action="Index" asp-controller="Diets">Diety</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="~/images/icons/nav/patient_128x128.png" />
                                <a asp-action="Index" asp-controller="Patients">Pacjenci</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="~/images/icons/nav/nutritionist_128x128.png" />
                                <a asp-action="Index" asp-controller="Users">Dietetycy</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="~/images/icons/nav/meal_128x128.png" />
                                <a asp-action="Index" asp-controller="Meals">Posiłki</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--alert bar-->
        <div class="row">
            <div class="col">

            </div>
        </div>
        @{
        var alerts = TempData.GetAlerts();
        if (alerts.Count > 0)
        {
            <div class="row">
                @foreach (Alert alert in alerts)
                {
                    <div class="col">
                        @await Component.InvokeAsync("Alert", alert)
                    </div>
                }
            </div>
        }
        }
        <hr class="mt-0" />
        <!--body-->
        <div class="row">
            <div class="col col-12 ">
                @RenderBody()
            </div>
        </div>
        <footer class="row">
            <p class="col">&copy; 2017 - ChallengeNaStaz</p>
        </footer>
    </div>
</body>
</html>
