@using Microsoft.AspNetCore.Identity
@using ChallengeNaStaz.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <!--<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="">
        <div class="container-h">
            <a class="container-h-child-centered right" style="text-decoration: none; color: inherit;margin-left: 10px;" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            <button type="submit" class="actionButton-small container-h-child right">Log out</button>
        </div>
    </form>-->
    <form asp-controller="Account" asp-action="Logout">
        <div class="row justify-content-end">
            <div class="col col-auto">
                <img src="~/images/img/profile_miniature.png" alt="..." class="rounded">
            </div>
            <div class="col col-auto p-0">
                <h4>@UserManager.GetUserName(User)</h4>
            </div>
            <div class="col col-auto">
                <div class="dropdown show">
                    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <button class="dropdown-item" asp-controller="Account" asp-action="Logout" formmethod="post">Wyloguj</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="row justify-content-end">
        <div class="col col-auto">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Log in</a>
        </div>
    </div>
}
