﻿@model IEnumerable<ChallengeNaStaz.Models.Meal>

<table class="table2" style="margin-top: 10px;" id="compRetrievedMeals">
    <thead>
        <tr>
            <th style="display: none">
                @Html.DisplayNameFor(model => model.MealId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.MealId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealType)
            </td>
            <!--TODO pozbyć sie tego przycisku i dodawać go w js, coby komponent był generyczny-->
            <td>
                <input class="actionButton" type="button" name="add" value="Dodaj" />
            </td>
        </tr>
    }
    </tbody>
</table>