﻿@model ChallengeNaStaz.Models.UserViewModels.NewUserViewModel

@{
    ViewData["Title"] = "Dodawanie dietetyka";
}

<div class="row justify-content-md-center pt-3">
    <div class="col-md-4">
        <h3>Dane dietetyka</h3>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <!--
        <div class="form-group">
            <label asp-for="NormalizedUserName" class="control-label"></label>
            <input asp-for="NormalizedUserName" class="form-control" />
            <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
        </div>-->
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
