﻿@model IEnumerable<ChallengeNaStaz.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}
<!--Modal potwierdzenia usunięcia
<div id="confirmDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
<!--<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Usuwanie dietetyka</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Czy na pewno usunąć?</p>
    </div>
    <div class="modal-footer">
        <a id="modalConfirmButton" class="btn btn-danger">You`re fired...</a>
        <a href="#" class="btn btn-light" data-dismiss="modal">Anuluj</a>
    </div>
</div>
    </div>
</div>-->
<div class="subcontainer pad white">
    <div class="container-h">
        <a class="container-h-child actionButton left" asp-action="Create">Dodaj nowego</a>
    </div>
    <table class="table2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <!--<th></th>-->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <!--<td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                zarządzaj
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Wyświetl/Edytuj</a></li>
                                <li><div hidden>@item.Id</div><a onclick="setupModal(this)" href="" class="dropdown-item" data-toggle="modal" data-target="#confirmDelete">Usuń</a></li>
                            </ul>
                        </div>
                    </td>-->
                </tr>
            }
        </tbody>
    </table>
</div>
<!--
<script>
    /*let modalConfirm = document.getElementById("modalConfirmButton");
    function setupModal(element) {
        let desiredId = element.parentElement.children[0].innerHTML;
        modalConfirm.setAttribute('href', `Diets/ConfirmDelete/${desiredId}`);
    }*/
</script>
-->
