﻿@model ChallengeNaStaz.Models.Diet
@using ChallengeNaStaz.Extensions;

@{
    ViewData["Title"] = "Create";
}
<div class="col p-0">
    <form id="DietSchema" asp-action="Edit" class="form-group row white ">
        <input hidden name="id" value="@Model.DietID" />
        <label class="col-form-label col-auto" asp-for="DietName"></label>
        <div class="col">
            <input class="form-control" asp-for="DietName" type="text" />
        </div>
        <div class="col">
            <input class="btn btn-primary" type="submit" value="Zapisz dietę" />
        </div>
        <div class="col">
            <div style="display: none" id="indeksy">
                @foreach (var meal in Model.DietMeals)
                {
                    <input value="@meal.MealId" name="Meals" type="text">

                }
            </div>
            <a class="container-h-child actionButton right" style="text-align: center" asp-action="Index">Wróć do listy</a>
        </div>
    </form>
    <hr />
    <div class="row">
        <div id="left" class="col col-5">
            <input id="searchfield" type="search" placeholder="Szukaj" oninput="askDB()" />
            <div id="searchContents" class="searchWrapperContent">

            </div>
        </div>
        <div id="middle" class="col-2">
            <label>
                Posiłki w tej diecie: <span></span>
            </label>
            <table id="mealsTable" style="width: 100%;">
                <tbody id="dietMeals">
                    @foreach (var meal in Model.DietMeals)
                    {
                        <tr>
                            <!--todo poprawić bo brzydkie-->
                            <td style="display:none;">@meal.MealId</td>
                            <td><button class="btn-light" style="all:unset;width: 100%;" value="@meal.Meal.MealName" type="button">@meal.Meal.MealName <span class="badge badge-light">×</span></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="right" class="col-5">
            <div class="row" id="upper">
                <div class="col">
                    <!--<div class="row grey">
                <div class="col white m-2">-->
                    <!--</div>
                </div>-->

                    <div id="mealIDiv" style="display: none"></div>
                    <div class="row ">
                        <div class="col" id="rightMain">
                            @Component.InvokeAsync("Alert", new Alert()
                        {
                            Title = "Hej!",
                            Dismissible = true,
                            Message = "Możesz szybko edytować posiłki z tabeli po lewej stronie klikając na nie, zmiany możesz wprowadzić poniżej!",
                            Type = AlertType.Info
                        }).Result
                            <div class="row">
                                <div class="col">
                                    <label>Edytowany posiłek: <span id="mealName"></span></label>
                                    <div id="saveMeal" onclick="mealSave()" class="button-save"></div>
                                </div>
                            </div>

                            <div class="field-box">
                                <label>Przepis:</label>
                                <textarea oninput="OnMealEditStarted()" id="recipe" class="fb-content" disabled></textarea>
                            </div>
                            <div class="field-box">
                                <label>Lista zakupów:</label>
                                <textarea oninput="OnMealEditStarted()" id="shoppingList" class="fb-content" disabled></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="field-box">
                        <label>Idealna dla osób:</label>
                        <textarea id="idealFor" form="DietSchema" type="text" class="fb-content" name="IdealFor"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>

    let ids = [];     //id posiłków które mają być dodane do diety, populowane przy kliknięciu dodaj
    let request;      //bieżące odpytanie bazy posiłków
</script>
@foreach (var meal in Model.DietMeals)
{
    <script>
//todo to musi się dać zrobić lepiej
    ids.push(@meal.MealId);
    </script>
}
<script>
    //wyszukiwarka
    let mealSearchField = document.getElementById('searchfield');       //input nazwy posiłku

    //edycja posiłku
    let mealSaveButton = document.getElementById("saveMeal");           //przycisk zapisu edycji posiłku
    let mealIDiv = document.querySelector("#mealIDiv");                 //ukryty div z id danego posiłku
    let mealName = document.querySelector('#mealName');                 //element z nazwa edytowanego posilku

    let upperContainer = document.getElementById("upper");
    let mainRightContainer = document.getElementById("rightMain");

    //--- text area z prawej
    let recipeText = document.getElementById("recipe");                 //przepis
    let shoppingList = document.getElementById("shoppingList");         //lista zakupów
    let idealFor = document.getElementById("idealFor");

    //Środkowa lista
    let mealsToAddList = document.getElementById("dietMeals");          //lista posiłków która mają być dodane do diety

    let content = document.getElementById("searchContents");            //div z wynikami wyszukiwania

    //pokazuje ołówek do zapisu zmian w posiłku
    function OnMealEditStarted() {
        mealSaveButton.style.visibility = "visible";
    }

    //aktualizuje edytowany posiłek
    function mealSave() {
        mealSaveButton.style.visibility = "hidden";
        var url = '@Url.Action("PutMeal", "Meals")';

        const updatedMeal = {
            Id: mealIDiv.innerHTML,
            Recipe: recipeText.value,
            ShoppingList: shoppingList.value
        }
        $.ajax({
            url: url,
            type: 'PUT',
            data: JSON.stringify(updatedMeal),
            contentType: 'application/json; charset=utf-8',
            //dataType: 'json',
            success: function () {
                askDB();
            }
        });
        recipeText.disabled = true;
        shoppingList.disabled = true;

        recipeText.value = "";
        shoppingList.value = "";
        mealName.innerHTML = "";
        mealIDiv.innerHTML = "";

        mainRightContainer.insertBefore(alertSuccessFactory("Sukces!", "Zapisano"), mainRightContainer.firstChild);
    }

    let bindedIDs = document.querySelector("#indeksy");
    //sprawdzenie oparte o ukryte inputy ktore maja byc postowane
    function hasID(id) {
        console.log("Began check for id element");
        let alreadyAdded = false;
        for (var i = 0; i < bindedIDs.childElementCount; i++) {
            if (bindedIDs.children[i].defaultValue == id) {
                console.log(`Element with value ${id} exists`);
                alreadyAdded = true;
            }
        }
        return alreadyAdded;
    }

    //fabryki elementów
    //todo sprawdzić identyczność kodu między podstronami
    function alertSuccessFactory(title, msg) {
        let el = document.createElement("div");
        /*el.innerHTML = `<div class="alert alert-info alert-dismissible fade in" style="margin-top: 10px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>${title}</strong> ${msg}</div>`;*/

        el.innerHTML = `<div class="alert alert-info alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>${title}</strong>${msg}
                        </div>`
        return el;
    }
    function inputFactory(value, name) {
        let hiddenId = document.createElement("input");
        hiddenId.defaultValue = value;
        hiddenId.name = hiddenId.id = name;
        return hiddenId;
        //<input value="1" id="DietMeals" name="DietMeals" type="text">
    }
    function middleListItemFactory(id, name) {
        let row = document.createElement("tr");
        row.innerHTML = `<td style="display:none;">${id}</td><td ><button style="all:unset;width: 100%;" value="${name}" type="button">${name} <span class="badge badge-light">×</span></input></td>`;
        return row;
    }

    //osbługa zapisu id posiłków jakie mają być w relacji diety
    function addID(id) {
        if (!hasID(id)) {
            bindedIDs.appendChild(inputFactory(id, "Meals"));
            ids.push(id);
            console.log("Added id element");
        }
    }
    function deleteID(id) {
        for (var i = 0; i < bindedIDs.childElementCount; i++) {
            if (bindedIDs.children[i].defaultValue == id) {
                bindedIDs.children[i].remove();
            }
        }
        ids = ids.filter(v => v !== id);
    }

    //edycja wyszukanego posiłku
    function addOnClickListenerToTableTr() {
        $('body').on('click', '.table2 > tbody > tr', function (e) {
            e.stopPropagation();
            console.log("tr click");

            //uzupelnia pola do edycji posilku
            let ID = parseInt(this.children[0].innerText);
            let mname = this.children[1].innerText;
            let mrecipe = this.children[2].innerText;
            let mshoppingList = this.children[3].innerText;

            mealIDiv.innerHTML = ID;
            mealName.innerHTML = mname;
            recipeText.value = mrecipe;
            shoppingList.value = mshoppingList;

            recipeText.disabled = false;
            shoppingList.disabled = false;
        });
    }

    //dodawanie posiłku do diety
    function addOnClickListenerToAddButton (e) {
        $('body').on('click', '.table2 > tbody > tr > td > input[name="add"]', function (e) {
            e.stopPropagation(); //nie propaguje kliknięć na rodzica

            const id = parseInt(this.parentElement.parentElement.children[0].innerText);
            const name = this.parentElement.parentElement.children[1].innerText;
            if (!hasID(id)) {
                addID(id);
                mealsToAddList.appendChild(middleListItemFactory(id, name));
                askDB();
            }
        });
    }

    //klikniecie posilku na srodkowej liscie
    function addOnClickListenerToMealListTr() {
        console.log("Added meal list listener");
        $('body').on('click', '#dietMeals > tr', function () {
            const ID = parseInt(this.children[0].innerText);
            const NAME = this.children[1].innerText;

            /*var ID = parseInt(this[0].innerText);
            var NAME = this[1].innerText;*/

            //kasuje klikniety posiłek
            /*let IdToRemove = ids.indexOf(ID);
            if (IdToRemove > -1) {
                ids.splice(IdToRemove, 1);
            }*/
            //this.remove();
            deleteID(ID);
            this.remove();
            //console.log("Meallist click: " + ID + " " + NAME);
            askDB();
        });
    }

    //wyszukuje posiłki w bazie i populuje lewą liste
    function askDB() {
        if (request != null) {
            request.abort();
        }

        let query = {
            QueryString: mealSearchField.value,
            ExcludeIds: ids
        }

        request = $.ajax({
            url: '/Meals/FindMeals',
            type: 'POST',
            data: JSON.stringify(query),
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            success: function (data) {
                //zastąpienie zawartości w tabeli ta z odpowiedzi serwera
                content.innerHTML = data;
                $('.table2 > tbody > tr').addClass("clickable");
            }
        });
    }

    $(document).ready(function () {
        console.log("Document ready, adding listeners");
        addOnClickListenerToMealListTr();
        addOnClickListenerToAddButton();
        addOnClickListenerToTableTr();
        askDB();
    });
</script>
