﻿@model IEnumerable<ChallengeNaStaz.Models.Diet>
@using Newtonsoft.Json;
@using ChallengeNaStaz.Extensions;

@{
    ViewData["Title"] = "Index";
}
<!--Modal potwierdzenia usunięcia-->
<div id="confirmDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuwanie diety</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Czy na pewno usunąć? Posiłki pozostaną w bazie.</p>
            </div>
            <div class="modal-footer">
                <a id="modalConfirmButton" class="btn btn-danger">Potwierdź</a>
                <a href="#" class="btn btn-light" data-dismiss="modal">Anuluj</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <a class="actionButton container-h-child left" asp-action="Create">Utwórz nową</a>
                <input class="container-h-child w60p right" id="searchfield" type="search" placeholder="szukaj" oninput="askDB()" value="" />
            </div>
        </div>
        <hr />
        <table class="table2">
            <thead>
                <tr>
                    <th style="display: none">
                        @Html.DisplayNameFor(model => model.DietID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DietName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HowManyMeals)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AmountOfPatientsOnThisDiet)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableContents">
                @foreach (var item in Model)
            {
                <tr>
                    <td style="display: none">
                        @Html.DisplayFor(modelItem => item.DietID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DietName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAddedString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HowManyMeals)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountOfPatientsOnThisDiet)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                zarządzaj
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.DietID">Wyświetl/Edytuj</a></li>
                                <li><div hidden>@item.DietID</div><a onclick="setupModal(this)" href="" class="dropdown-item" data-toggle="modal" data-target="#confirmDelete">Usuń</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>

<script>
    let modalConfirm = document.getElementById("modalConfirmButton");
    function setupModal(element) {
        let desiredId = element.parentElement.children[0].innerHTML;
        modalConfirm.setAttribute('href', `Diets/ConfirmDelete/${desiredId}`);
    }

    //todo zamienic jq na js
    function askDB() {
        let content = document.getElementById('tableContents');
        let input = document.getElementById('searchfield');
        //alert($input.html());
        let query = {
            queryString: input.value
        }
        $.ajax({
            url: 'Diets/GetDiets',
            type: 'GET',
            data: query,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                content.innerHTML = "";
                for (var i = 0; i < data.length; i++) {
                    content.innerHTML +=
                        `<tr><td style="display: none">${data[i].dietID}</td>
                        <td>${data[i].dietName}</td>
                        <td>${data[i].dateAddedString}</td>
                        <td>${data[i].howManyMeals}</td>
                        <td>${data[i].amountOfPatientsOnThisDiet}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Zarządzaj
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-action="Edit" href="Diets/Edit/${data[i].dietID}">Wyświetl/Edytuj</a></li>
                                    <li><div hidden>${data[i].dietID}</div><a onclick="setupModal(this)" href="" class="dropdown-item" data-toggle="modal" data-target="#confirmDelete">Usuń</a></li>
                                </ul>
                            </div>
                        </td>
                        </tr>`;
                }
            }
        });
    }
</script>
