﻿@using ChallengeNaStaz.Extensions;
@model Alert;
@{
    const string dismissAtributeContent = "alert-dismissible fade show";
    string dismissibleAtribute = "";
    if (Model.Dismissible)
    {
        dismissibleAtribute = dismissAtributeContent;
    }

    switch (Model.Type)
    {
        case AlertType.Success:
            <div class="alert alert-success @dismissibleAtribute" role="alert">
                @if (Model.Dismissible)
                {
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                }
                @if (Model.Title != null)
                {
                    <strong>@Model.Title</strong>
                }
                @Model.Message
            </div>
            break;
        case AlertType.Danger:
            <div class="alert alert-danger @dismissibleAtribute" role="alert">
                @if (Model.Dismissible)
                {
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                }
                @if (Model.Title != null)
                {
                    <strong>@Model.Title</strong>
                }
                @Model.Message
            </div>
            break;
        case AlertType.Warning:
            <div class="alert alert-warning @dismissibleAtribute" role="alert">
                @if (Model.Dismissible)
                {
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                }
                @if (Model.Title != null)
                {
                    <strong>@Model.Title</strong>
                }
                @Model.Message
            </div>
            break;
        case AlertType.Info:

            <div class="alert alert-info @dismissibleAtribute" role="alert">
                @if (Model.Dismissible)
                {
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                }
                @if (Model.Title != null)
                {
                    <strong>@Model.Title</strong>
                }
                @Model.Message
            </div>
            break;
    }
}