﻿@model ChallengeNaStaz.Models.Meal

@{
    ViewData["Title"] = "Tworzenie posiłku";
}

<div class="row justify-content-md-center mb-3">
    <div class="col-md-4">
        <hr />
        <h3>
            Tworzenie posiłku
        </h3>
        <hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MealName" class="control-label"></label>
                <input asp-for="MealName" class="form-control" />
                <span asp-validation-for="MealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe" class="control-label"></label>
                <input asp-for="Recipe" class="form-control" />
                <span asp-validation-for="Recipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoppingList"></label>
                <textarea asp-for="ShoppingList" class="form-control" rows="3"></textarea>
                <span asp-validation-for="ShoppingList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealType" class="control-label"></label>
                <select asp-for="MealType" asp-items="@(Html.GetEnumSelectList<MealTypeEnum>())" class="form-control"></select>
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>
            <div class="form-inline">
                <input type="submit" value="Create" class="btn btn-light mr-1" />
                <a class="btn btn-light" asp-action="Index">Wróć do listy</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
