﻿@model IEnumerable<ChallengeNaStaz.Models.Meal>
@{
    ViewData["Title"] = "Index";
}
<!--Modal potwierdzenia usunięcia-->
<div id="confirmDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuwanie posiłku</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Czy na pewno usunąć? Diety stracą jeden posiłek.</p>
            </div>
            <div class="modal-footer">
                <a id="modalConfirmButton" class="btn btn-danger">Potwierdź</a>
                <a href="#" class="btn btn-light" data-dismiss="modal">Anuluj</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <a class="container-h-child actionButton left" asp-action="Create">Utwórz nowy</a>
                <input class="container-h-child w60p right" id="searchfield" type="search" placeholder="szukaj" oninput="askDB()" value="" />
            </div>
        </div>
        <hr />
        <table class="table2" style="margin-top: 40px;">
            <thead>
                <tr>
                    <th style="display: none">
                        @Html.DisplayNameFor(model => model.MealId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MealName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Recipe)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShoppingList)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableContents">
                @foreach (var item in Model)
            {
                <tr>
                    <td style="display: none">
                        @Html.DisplayFor(modelItem => item.MealId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MealName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Recipe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShoppingList)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Zarządzaj
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.MealId">Wyświetl/Edytuj</a></li>
                                <li><div hidden>@item.MealId</div><a onclick="setupModal(this)" href="" class="dropdown-item" data-toggle="modal" data-target="#confirmDelete">Usuń</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>

    </div>
</div>
<script>
    let modalConfirm = document.getElementById("modalConfirmButton");
    function setupModal(element) {
        let desiredId = element.parentElement.children[0].innerHTML;
        modalConfirm.setAttribute('href', `Meals/ConfirmDelete/${desiredId}`);
    }

    function askDB() {
        let content = document.getElementById('tableContents');
        let input = document.getElementById('searchfield');

        //alert($input.html());

        let query = {
            queryString: input.value
        }

        $.ajax({
            url: '/Meals/GetMeals',
            type: 'GET',
            data: query,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                content.innerHTML = "";
                for (var i = 0; i < data.length; i++) {
                    content.innerHTML += `
                    <tr>
                        <td style='display: none'>${data[i].mealId}</td>
                        <td>${data[i].mealName}</td><td>${data[i].recipe}</td>
                        <td>${data[i].shoppingList}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Zarządzaj
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-action="Edit" href="Meals/Edit/${data[i].mealId}">Wyświetl/Edytuj</a></li>
                                    <li><div hidden>${data[i].mealId}</div><a onclick="setupModal(this)" href="" class="dropdown-item" data-toggle="modal" data-target="#confirmDelete">Usuń</a></li>
                                </ul>
                            </div>
                        </td>
                        </tr>`;
                }
                console.log(data);
            }
        });
    }
</script>
