﻿@model ChallengeNaStaz.Models.Patient

@{
    ViewData["Title"] = "Dodawanie pacjenta";
}

<div class="row justify-content-md-center pt-3">
    <div class="col-md-4">
        <h4>Kwestionariusz pacjenta</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DietDuration" class="control-label"></label>
                <input asp-for="DietDuration" class="form-control" type="text" />
                <span asp-validation-for="DietDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoneConsultations" class="control-label"></label>
                <input asp-for="DoneConsultations" class="form-control" type="text" />
                <span asp-validation-for="DoneConsultations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlannedWeight" class="control-label"></label>
                <input asp-for="PlannedWeight" class="form-control" type="text" />
                <span asp-validation-for="PlannedWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhatPatientLikes" class="control-label"></label>
                <textarea asp-for="WhatPatientLikes" class="form-control" rows="3"></textarea>
                <span asp-validation-for="WhatPatientLikes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhatPatientDoesntLike" class="control-label"></label>
                <textarea asp-for="WhatPatientDoesntLike" class="form-control" rows="3"></textarea>
                <span asp-validation-for="WhatPatientDoesntLike" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
