﻿@model ChallengeNaStaz.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DietDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DietDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoneConsultations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoneConsultations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlannedWeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlannedWeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhatPatientLikes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhatPatientLikes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhatPatientDoesntLike)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhatPatientDoesntLike)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
