﻿@model IEnumerable<ChallengeNaStaz.Models.Patient>

@{
    ViewData["Title"] = "Index";
}
<!--Modal potwierdzenia usunięcia-->
<div id="confirmDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuwanie pacjenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Czy na pewno usunąć? Usunieciu ulegnie też karta pacjenta.</p>
            </div>
            <div class="modal-footer">
                <a id="modalConfirmButton" class="btn btn-danger">Potwierdź</a>
                <a href="#" class="btn btn-light" data-dismiss="modal">Anuluj</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <a class="actionButton container-h-child left" asp-action="Create">Utwórz nowego</a>
                <input class="container-h-child right w60p" id="searchfield" type="search" placeholder="szukaj" oninput="askDB()" value="" />
            </div>
        </div>
        <hr />
        <table class="table2" style="margin-top: 30px;">
            <thead>
                <tr>
                    <th style="display: none">
                        @Html.DisplayNameFor(model => model.PatientId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DietDuration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DoneConsultations)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlannedWeight)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableContents">
                @foreach (var item in Model)
            {
                <tr>
                    <td style="display: none">
                        @Html.DisplayFor(modelItem => item.PatientId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAddedString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DietDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoneConsultations)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlannedWeight)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                zarządzaj
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.PatientId">Wyświetl kartę pacjenta</a></li>
                                <li><div hidden>@item.PatientId</div><a onclick="setupModal(this)" href="" class="dropdown-item" data-toggle="modal" data-target="#confirmDelete">Usuń</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
<script>
    let modalConfirm = document.getElementById("modalConfirmButton");
    function setupModal(element) {
        let desiredId = element.parentElement.children[0].innerHTML;
        modalConfirm.setAttribute('href', `Diets/ConfirmDelete/${desiredId}`);
    }

    function askDB() {
        var content = document.getElementById('tableContents');
        var input = document.getElementById('searchfield');

        let query = {
            queryString: input.value
        }

        $.ajax({
            url: 'Patients/GetPatients',
            type: 'GET',
            data: query,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                content.innerHTML = "";

                for (var i = 0; i < data.length; i++) {
                    //$content.append("<tr><td style= 'display: none'>id</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>");

                    content += `<tr>
<td style='display: none'>${data[i].dietId}</td>
<td>${data[i].name}</td>
<td>${data[i].lastName}</td>
<td>${data[i].dateAddedString}</td>
<td>${data[i].dietDuration}</td>
<td>${data[i].doneConsultations}</td>
<td>${data[i].plannedWeight}</td>
<td>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Zarządzaj
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="Edit" asp-route-id="${data[i].patientId}">Wyświetl/Edytuj</a></li>
            <li><div hidden>${data[i].patientId}</div><a onclick="setupModal(this)" href="" class="dropdown-item" data-toggle="modal" data-target="#confirmDelete">Usuń</a></li>
        </ul>
    </div>
</td>
</tr>`
                }
                console.log(data);
            }
        });
    }
</script>
